body{
  display: flex;
  background-image: linear-gradient(135deg, #00b7d4, #343b92, #2f3f80, #161569, #3c69e4, #1a28ee, #3308f5);
  justify-content: end;
  align-items: center;
  background-size: 500%;
  animation: animated 10s ease infinite;
  height: 100vh;
}

@keyframes animated {

  0%{
    background-position: 0% 50% ;
  }

  50%{
    background-position: 100% 50%;
  }

  100%{
    background-position: 0% 50% ;
  }
}

.container{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 356px;
  text-align: center;
  border: 10px solid black;
  background: #101116;
  border-radius: 5px;
}

.keypad{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(60px, auto);
}


input[type="text"]{
  height: 75px;
  width:100%;
  background-color: #10111600;
  border: 0px;
  color: #ffffffff;
  text-align: right;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
}


#Clear{
  grid-column: 1/3;
  grid-row: 1;
  color: #262834;
}


#result{
  grid-column: 3/5;
  grid-row: 5;
}

button {
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #262834;
  color: #ffffffff;
  font-weight: 500;
  font-size: 1em;
}

button:active{
  background-color: blue;
}


.highLight{
  background: #56cbdb;
  color: black;
}


@media screen and (max-width:400px) {
  .container{
    width: 90%;
  }
}